.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Range-Slider-Container{
  height: 455px;
  position: relative;
  left: 701px;
  top: -575px;
  width: 89px;
}
.Range-Slider-Container p {
  right: 35px;
  position: relative;
}
.graph-title{
  text-align: center;
  margin-bottom: -18px;
}
.inner-pie {
  position: relative;
  top: -270px;
  left: 100px;
}
#root{
  height: 654px;
}
.subject-checkbox {
  display: block;
  width: 100px;
  position: relative;
  top: -890px;
  left: 752px;
}
.inner-bar {
  position: relative;
  top: 200px;
}
#root > div.recharts-wrapper.main-scatter {
  margin-top: -38px;
}
#root > form > div > button.subject-picker {
  width: 100%;;
  padding-right: 34px;
  text-align: right;
  margin-top: 18px;
}

button.subject-picker.math-pick.active {
  background-color: #140d77 !important;
}
button.subject-picker.reading-pick.active {
  background-color: #FFFF33 !important;
}
button.subject-picker.writing-pick.active {
  background-color: #56912e !important;
}
.matrix-chart > img{
  height: 600px;
}
.autocomplete{
  position: absolute;
  top: 71px;
  left: 824px;
}
.autocomplete > div > input{
  width: 300px;
}
.clear-search:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}
button.subject-picker{
  width: 100%
}